<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h5>Total Space Count {{totalSpace}}</h5>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h4>Total Vehicle Served {{totalVehicleServed}}</h4>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h4>Total Earning Cost {{totalEarning}}</h4>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br>
        <app-space-display [isEditable]="false"></app-space-display>
    </div>
</div>