<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h4>Total Space Count</h4>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h4>Total Vehicle Served</h4>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="card">
                    <mat-card-content>
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h4>Total Earning Cost</h4>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br>
        <app-space-display [isEditable]="false"></app-space-display>
    </div>
</div>